* {
  box-sizing: border-box;
}

.main {
  border-radius: 2%;
  background-color: #f5fffa;
  /* padding: 100px; */
  margin: 50px;
}
.col {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.border {
  border: 5px solid black;
}
.header {
  padding: 30px;
  text-align: center;
  font-size: 30px;
  font-family: "Gowun Dodum", sans-serif;
  font-style: italic;
}
